<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lotsofpixels" translate="label" sortOrder="1000">
            <label>LotsofPixels</label>
        </tab>
        <section id="inventory_reservation" translate="label" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Clean inventory reservation</label>
            <tab>lotsofpixels</tab>
            <resource>Lotsofpixels_Inventoryreservation::config</resource>
            <group id="Settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cleanup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Clean the inventory reservation table every day at 06:07 AM </comment>
                </field>
            </group>
        </section>
    </system>
</config>